{{/* This is the template for rendering the pages that list all the member state implementation for a specific exception */}}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>voyantes</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel='shortcut icon' type='image/x-icon' href='/favicon.ico' />
	<link rel="stylesheet" type="text/css" href="/css/main.css" />
	<link href="https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap" rel="stylesheet">
</head>
  <body>
  	<div class="breadcrumb"><a href="{{ $.Site.BaseURL }}">home</a> <span>></span> <a href="{{ $.Site.BaseURL }}{{ .Data.Plural }}/" class="tag">{{ .Data.Plural }}</a> <span class="next">></span> {{ .Page.Params.title }}</div>
  	<h1>{{ .Page.Params.title }}</h1>
  	<p>{{ .Page.Params.summary }}</p>
  	<p>This exception has been implemented in the following Member States:</p>
  	{{ range .Pages }}
	  		<h2>{{ partial "textexpanders/msname.html" . }}: <a href="{{.Permalink}}">{{.Title}}</a></h2>
  	{{ end }}
  </body>
</html>

