{{/* This is the template for rendering the pages that list all the member state implementation for a specific exception */}}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>copyrightexceptions.eu</title>
		<link rel="stylesheet" type="text/css" href="{{ $.Site.BaseURL }}/css/single.css" />
		<link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
	</head>
  	<body>
  		<div id="page">
        	<div id="header" class="site-header">
            	<div class="wrap-header">
                	<div id="branding" role="banner">
                    	<div class="logo"><img src="{{ $.Site.BaseURL }}images/copyright_exceptions_logo.svg"></div>
                    	<div class="breadcrumb"><a href="{{ $.Site.BaseURL }}">map</a> <span>></span> <a href="{{ $.Site.BaseURL }}{{ .Data.Plural }}/" class="tag">{{ .Data.Plural }}</a> <span class="next">></span> {{ .Page.Params.title }}</div>
                    	<div style="clear:both;"></div>
               		</div><!--#branding-->
            	</div><!--.wrap-->
        	</div><!--#header-->
        	<div id="main">
            	<div class="wrap">
                	<div id="primary">
                    	<div id="content" role="main">
                    	<h1>{{ .Page.Params.title }}</h1>
  						<p>{{ .Page.Params.summary }}</p>
  						<p>{{ .Page.Params.more| safeHTML }}</p>
  						<h2>This exception has been implemented in the following Member States:</h2>
  						<ul class="exceptions-jur">
  						{{ range .Pages }}
	  					{{if .Title}}<li>In {{ range .Params.jurisdictions }} <a href="{{ $.Site.BaseURL }}jurisdictions/{{ . | urlize }}/"><strong>{{ partial "textexpanders/jur-single.html" . }}</strong></a> {{ end }} in <a href="{{.Permalink}}" class="{{if in .Params.score "1"}}score1{{end}}{{if in .Params.score "2"}}score2{{end}}{{if in .Params.score "3"}}score3{{end}}">{{.Title}}</a></li>{{end}}
  						{{ end }}
  						</ul>
                    	</div><!-- #content -->
                	</div><!-- #primary -->
            	</div><!--.wrap-->
        	</div><!--#main-->
        	<div id="footer" class="site-footer">
            	<div class="wrap">
 					{{ partial "footer.html" . }} 
            	</div><!--.wrap-->
        	</div><!--#footer--> 
    	</div><!--#page-->
  	</body>
</html>