{{/* This is the template for rendering the list that shows all jurisdictions for which we have at least one implemented exception in the system */}}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>copyrightexceptions.eu</title>
		<link rel="stylesheet" type="text/css" href="{{ $.Site.BaseURL }}/css/single.css" />
		<link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
	</head>
	<body>
  		<div id="page">
        	<div id="header" class="site-header">
            	<div class="wrap-header">
                	<div id="branding" role="banner">
                    	<div class="logo"><img src="{{ $.Site.BaseURL }}images/copyright_exceptions_logo.svg"></div>
                    	<div class="breadcrumb"><a href="{{ $.Site.BaseURL }}">home</a> <span>/</span> {{ .Data.Plural }}</div>
                    	<div style="clear:both;"></div>
               		</div><!--#branding-->
            	</div><!--.wrap-->
        	</div><!--#header-->
        	<div id="main">
            	<div class="wrap">
                	<div id="primary">
                    	<div id="content" role="main">
                    		<h1>Overview of the jurisdictions that have implemented at least one of the generic exceptions in their national laws:</h1>
							<div>
								<ul class="exceptions-jur">
									{{ $data := .Data }}
   									{{ range $key, $value := .Data.Terms.Alphabetical }}
      								<li><a href="{{ $.Site.BaseURL }}/{{ $data.Plural }}/{{ $value.Name | urlize }}" class="tag">{{ partial "textexpanders/jur-single.html" $value.Name }}</a><!-- ({{ $value.Count }} exceptions implemented into national law) --></li> 
    								{{ end }}
    							</ul>
							</div>
                    	</div><!-- #content -->
                	</div><!-- #primary -->
            	</div><!--.wrap-->
        	</div><!--#main-->
        	<div id="footer" class="site-footer">
            	<div class="wrap">
 					{{ partial "footer.html" . }} 
            	</div><!--.wrap-->
        	</div><!--#footer--> 
    	</div><!--#page-->
  	</body>
</html>