{{/* This is the template for rendering the pages that list all the exceptions that have been implemented by a specific Member State */}}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>voyantes</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel='shortcut icon' type='image/x-icon' href='/favicon.ico' />
	<link rel="stylesheet" type="text/css" href="/css/main.css" />
	<link href="https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap" rel="stylesheet">
</head>
  <body>
  	<div class="breadcrumb"><a href="/">home</a> <span>></span> <a href="/{{ .Data.Plural }}/" class="tag">{{ .Data.Plural }}</a> <span class="next">></span> {{ .Page.Params.name }}</div>
  	<h1>{{ .Page.Params.name }}</h1>
  	<p>{{ .Page.Params.legalarrangement }}</p>
  	<p>This Member state has implemented the following exceptions in its national laws:</p>
  	{{ range .Pages }}
	  		<h2>{{ partial "textexpanders/ex-short.html" . }}: <a href="{{.Permalink}}">{{.Title}}</a></h2>
  	{{ end }}
  </body>
</html>

