{{ $jurisdiction := .Params.jurisdictions }}

{{/* Candidate Countries */}}

{{ if in $jurisdiction "AL"}}
	{{$jurisdiction = "Albania"}}
{{end}}
{{ if in $jurisdiction "ME"}}
	{{$jurisdiction = "Montenegro"}}
{{end}}
{{ if in $jurisdiction "MK"}}
	{{$jurisdiction = "North Macedonia"}}
{{end}}
{{ if in $jurisdiction "RS"}}
	{{$jurisdiction = "Serbia "}}
{{end}}

{{/* potential candidates */}}

{{ if in $jurisdiction "BA"}}
	{{$jurisdiction = "Bosnia Herzegovina"}}
{{end}}
{{ if in $jurisdiction "XK"}}
	{{$jurisdiction = "Kosovo"}}
{{end}}

{{/* EFTA Countries */}}

{{ if in $jurisdiction "LI"}}
	{{$jurisdiction = "Lichtenstein"}}
{{end}}
{{ if in $jurisdiction "NO"}}
	{{$jurisdiction = "Norway"}}
{{end}}
{{ if in $jurisdiction "CH"}}
	{{$jurisdiction = "Switzerland"}}
{{end}}

{{/* Ex EU */}}

{{ if in $jurisdiction "GB"}}
	{{$jurisdiction = "the United Kingdom"}}
{{end}}

{{/* EU Member States */}}

{{ if in $jurisdiction "AT"}}
	{{$jurisdiction = "Austria"}}
{{end}}
{{ if in $jurisdiction "BE"}}
	{{$jurisdiction = "Belgium"}}
{{end}}
{{ if in $jurisdiction "BG"}}
	{{$jurisdiction = "Bulgaria"}}
{{end}}
{{ if in $jurisdiction "HR"}}
	{{$jurisdiction = "Croatia"}}
{{end}}
{{ if in $jurisdiction "CY"}}
	{{$jurisdiction = "Cyprus"}}
{{end}}
{{ if in $jurisdiction "CZ"}}
	{{$jurisdiction = "Czech Republic"}}
{{end}}
{{ if in $jurisdiction "DK"}}
	{{$jurisdiction = "Denmark"}}
{{end}}
{{ if in $jurisdiction "EE"}}
	{{$jurisdiction = "Estonia"}}
{{end}}
{{ if in $jurisdiction "FI"}}
	{{$jurisdiction = "Finland "}}
{{end}}
{{ if in $jurisdiction "FR"}}
	{{$jurisdiction = "France"}}
{{end}}
{{ if in $jurisdiction "DE"}}
	{{$jurisdiction = "Germany"}}
{{end}}
{{ if in $jurisdiction "GR"}}
	{{$jurisdiction = "Greece"}}
{{end}}
{{ if in $jurisdiction "HU"}}
	{{$jurisdiction = "Hungary"}}
{{end}}
{{ if in $jurisdiction "IE"}}
	{{$jurisdiction = "Ireland"}}	
{{end}}
{{ if in $jurisdiction "IT"}}
	{{$jurisdiction = "Italy "}}	
{{end}}
{{ if in $jurisdiction "LV"}}
	{{$jurisdiction = "Latvia"}}	
{{end}}
{{ if in $jurisdiction "LT"}}
	{{$jurisdiction = "Lithuania"}}	
{{end}}
{{ if in $jurisdiction "LU"}}
	{{$jurisdiction = "Luxembourg"}}	
{{end}}
{{ if in $jurisdiction "MT"}}
	{{$jurisdiction = "Malta"}}													
{{end}}
{{ if in $jurisdiction "NL"}}
	{{$jurisdiction = "The Netherlands"}}
{{end}}
{{ if in $jurisdiction "PL"}}
	{{$jurisdiction = "Poland"}}
{{end}}
{{ if in $jurisdiction "PT"}}
	{{$jurisdiction = "Portugal"}}
{{end}}
{{ if in $jurisdiction "RO"}}
	{{$jurisdiction = "Romania"}}
{{end}}
{{ if in $jurisdiction "SK"}}
	{{$jurisdiction = "Slovakia"}}
{{end}}
{{ if in $jurisdiction "SI"}}
	{{$jurisdiction = "Slovenia"}}
{{end}}
{{ if in $jurisdiction "ES"}}
	{{$jurisdiction = "Spain"}}
{{end}}
{{ if in $jurisdiction "SE"}}
	{{$jurisdiction = "Sweden"}}
{{end}}

{{ return $jurisdiction }}