<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>copyrightexceptions.eu</title>
</head>
  <body>
	<h1>Development version for copyrightexceptions.eu version 2.0</h1>
	<h2>Note that all information on this website should be treated as dummy information and not relied on in any way</h2>
	<p><a href="{{ $.Site.BaseURL }}exceptions/">Go to all exceptions</a></p>
	<p><a href="{{ $.Site.BaseURL }}memberstates/">Go to all member states</a></p>
	<h2>Old map</h>
	
	<IFRAME STYLE="" SCROLLING="yes" FRAMEBORDER="0" SRC="{{ $.Site.BaseURL }}map/map.html" WIDTH="100%" HEIGHT="720px !important">
			[Your user agent does not support frames or is currently configured not to display frames. However, you may visit <A href="//copyrightexceptions.eu/map.html">the related document.</A>]
		</IFRAME>
  </body>
</html>