<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>copyrightexceptions.eu</title>
	
	{{ partial "map/header.html" . }}
    
</head>
  <body>
	<hr>
	{{ partial "map/map.html" . }}
	<h1>About</h1>
	<b>Note that all information on this website should be treated as dummy information and not relied on in any way</b>
	<p><a href="{{ $.Site.BaseURL }}exceptions/">Go to all exceptions</a></p>
	<p><a href="{{ $.Site.BaseURL }}jurisdictions/">Go to all jurisdictions</a></p>
  </body>
</html>