<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>copyrightexceptions.eu</title>
</head>
  <body>
	<div class="breadcrumb"><a href="/">home</a> <span>></span> <a href="{{.Permalink}}">{{ .Title }}</a></div>
	<div class="exception">
		<h1>{{.Title}}</h1>
		<ul>
			<li><strong>Generic Exception:</strong> {{ range .Params.exceptions }} <a href="{{ $.Site.BaseURL }}exceptions/{{ . | urlize }}/">{{ partial "textexpanders/exceptions.html" . }}</a> {{ end }}</li>
			<li><strong>Member State:</strong> {{ range .Params.memberstates }} <a href="{{ $.Site.BaseURL }}memberstates/{{ . | urlize }}/">{{ partial "textexpanders/msname.html" . }}</a> {{ end }}</li>
			<li><strong>Score:</strong> {{.Params.score}}</li>
		</ul>
		{{if .Params.description}}<p><strong>Summary: </strong>{{.Params.description}}</p>{{end}}
		<ul>
			{{if .Params.benficiaries}}<li><strong>Benficiaries:</strong>
				<ul>
					{{ range .Params.benficiaries }}<li>{{ . }}</li>{{end}}
					
				</ul>
			</li>{{end}}
			{{if .Params.purposes}}<li><strong>Purposes:</strong>
				<ul>
					{{ range .Params.purposes }}<li>{{ . }}</li>{{end}}
					
				</ul>
			</li>{{end}}
			{{if .Params.usage}}<li><strong>Usage:</strong>
				<ul>
					{{ range .Params.usage }}<li>{{ . }}</li>{{end}}
					
				</ul>
			</li>{{end}}
			{{if .Params.subjectmatter}}<li><strong>Subject Matter:</strong>
				<ul>
					{{ range .Params.subjectmatter }}<li>{{ . }}</li>{{end}}
					
				</ul>
			</li>{{end}}
			{{if .Params.compensation}}<li><strong>Compensation:</strong> {{range .Params.compensation}}{{ . }}{{end}}</li>{{end}}	
			{{if .Params.attribution}}<li><strong>Attribution:</strong> {{range .Params.attribution}}{{ . }}{{end}}</li>{{end}} 
			{{if .Params.otherConditions}}<li><strong>Other Conditions:</strong>
				<ul>
					{{ range .Params.otherConditions }}<li>{{ . }}</li>{{end}}
					
				</ul>
			</li>{{end}}
		</ul>
		{{if .Params.remarks}}<p><strong>Remarks: </strong> {{.Params.remarks| safeHTML }}</p>{{end}}
		{{if .Params.link}}<p><a href="{{.Params.link | safeHTML }}">View online</a></p>{{end}}	
	</div>
  </body>
</html>